.content-statistical{
    margin-top: 20px;
    .menu{
        padding: 10px;
        button{
            border: 1px solid #ccc;
            height: 30px;
            font-weight: 600;

        }
    }
}