.header{
    background-color: #74b9ff;
    height: 100px;
    .container{
        .row{

            .col-left{
                h2{
                    font-size: 35px;
                    color: white;
                }
            }
            .col-right{
                button{
                    border: none;
                    padding: 3px;
                    margin-left: 20px;
                    border-radius: 10px;
                    font-size: 15px;
                    i{
                        color: red;
                        font-size: 18px; 
                        margin: 5px;
                    }
                }
            }
        }
    }
}