.content-deatil-class{
    .info{
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-top: 20px;
        h2{
            background-color: #04AA6D;
            color: white;
            text-align: center;
            border-radius: 10px 10px 0px 0px;
        }
        h3{
            font-size: 20px;
        }
        .info-class{
            padding-left: 30px;
            padding-bottom: 30px;
            p{
                font-size: 15px;
                label{
                    min-width: 150px;
                }
            }
        }
        .info-course{
            padding-left: 30px;
            padding-bottom: 30px;
            p{
                font-size: 15px;
                label{
                    min-width: 150px;
                }
            }
        }
        .info-teacher{
            padding-left: 30px;
            padding-bottom: 30px;
            p{
                font-size: 15px;
                label{
                    min-width: 150px;
                }
            }
        }
    }
}