.container{
    .content-course-detail{
        margin-top: 30px;
        border: 1px solid #ccc;
        border-radius: 10px;
        .title-Course{
            color: black;
            background-color: #04AA6D;
            color: white;
            text-align: center;
            border-radius: 10px 10px 0px 0px;
        }
        .content-Course{
            padding-left: 30px;
            padding-bottom: 30px;
            p{
                font-size: 15px;
                label{
                    min-width: 150px;
                }
            }
            table{
                font-size: 18px;
            }
        }
    }
}