.container{
    .space{
        height: 10px;
    }
    .info{
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-top: 20px;
        .title-Student{
            background-color: #04AA6D;
            color: white;
            text-align: center;
            border-radius: 10px 10px 0px 0px;
        }
        .info-Student{
            padding-left: 30px;
            padding-bottom: 30px;
            p{
                font-size: 15px;
                label{
                    min-width: 150px;
                }
            }
            table{
                font-size: 18px;
            }
        }
        .info-class{
            padding-left: 30px;
            padding-bottom: 30px;
            p{
                font-size: 15px;
                label{
                    min-width: 150px;
                }
            }
        }
    }
}